*{
    margin: 0;
    padding: 0;
}
img{
    width: 48%;
    height: auto;
}
.sm{
    width: 50%;
}
.f{
    z-index: 100;
    width: 50%;
    height: 50%;
    position: fixed;
}
.go{
    position: relative;
    left: 0;
    bottom: 0;
    -webkit-animation-timing-function:linear;
    -webkit-animation:myfirst 5s infinite;
    /*-webkit-animation-direction:normal;*/
}
@-webkit-keyframes myfirst /* Safari 和 Chrome */
{
    0%   {left:0px; bottom:0px;}
    25%  {left:200px; bottom:0px;}
    50%  {left:200px; bottom:200px;}
    75%  {left:0px; bottom:200px;}
    100% {left:0px; bottom:0px;}
}