*{
    margin: 0;
    padding: 0;
}
img{
    width: 24%;
    height: auto;
}
.sm{
    width: 10%;
}
.f{
    width: 500px;
    height: auto;
    position: fixed;
    bottom: 50%;
    left: 50%;
    -webkit-animation-timing-function:linear;
    -webkit-animation:myfirst 40s;
    /*-webkit-animation-direction:normal;*/
}
@-webkit-keyframes myfirst /* Safari 和 Chrome */
{
    0%   {left:0px; top:0px;}
    25%  {left:1000px; top:0px;}
    50%  {left:1000px; top:600px;}
    75%  {left:0px; top:600px;}
    100% {left:0px; top:0px;}
}