*{
    margin: 0;
    padding: 0;
}
img{
    width: 24%;
    height: auto;
}
.sm{
    width: 10%;
}
.f{
    z-index: 100;
    width: 50%;
    height: 50%;
    position: fixed;
    bottom: 25%;
    left: 25%;
}
.go{
    position: relative;
    left: 0;
    bottom: 0;
    -webkit-animation-timing-function:linear;
    -webkit-animation:myfirst 5s infinite;
    /*-webkit-animation-direction:normal;*/
}
@-webkit-keyframes myfirst /* Safari 和 Chrome */
{
    0%   {left:0px; top:0px;}
    25%  {left:200px; top:0px;}
    50%  {left:200px; top:120px;}
    75%  {left:0px; top:120px;}
    100% {left:0px; top:0px;}
}